/* Colors #ff9900 #ffdf7e #000000 */

.App {
  text-align: center;
  display: grid;
  width: 100%;

  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 4fr;
}

.Logo-Title {
  display: flex;

  grid-row-start: 1;
  grid-column-start: 1;
}

.Logo-Img {
  height: 150px;
  max-width: 150px;
  margin-left: 20px;
  margin-top: 20px;
}

.Table-Container {
  display: flex;
  justify-content: center;

  grid-row-start: 2;
  grid-column-start: 2;
}
